html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a { text-decoration: none; }

.header {
    background: #E5E5E5;
    height: 50px;
    font-size: 0;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
}

.header ul,
.menu-items ul {
    padding-top: 18px;
    margin-right: 2px;
    text-align: center;
}

.header li,
.menu-items li {
    display: inline-block;
    margin-right: 31px;
    font-size: 14px;
}

.header li:nth-child(5) { margin-right: 0; }

.header a,
.menu-items a {
    color: #333333;
}

.logo { padding-top: 20px; }

.header-contact {
    float: right;
    margin-top: 41px;
}

.header-contact a {
    margin-right: 37px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.header-contact button,
.footer-contact button {
    width: 170px;
    padding: 10px 28px 10px 28px;
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    cursor: pointer;
}

.regtangle {
    margin-top: 12px;
    border: 1px solid #EFEFEF;
}

nav { height: 82px; }

.menu-items {
    padding-top: 32px;
    font-size: 0;
    margin-left: 39px;
    color: #000000;
    text-align: center;
}

.menu-items li {
    margin-right: 41px;
    font-size: 16px;
    line-height: 19px;
}

.banner {
    height: 604px;
    margin-bottom: 80px;
}

.banner img {
    display: block;
    margin: 0 auto;
}

.banner .wrapper {
    position: relative;
    bottom: 394px;
}

h1 {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.banner p {
    width: 255px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner span {
    display: block;
    width: 135px;
}

.banner button {
    width: 170px;
    height: 40px;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    cursor: pointer;
}

main { background: #E5E5E5; }

.special-offers h2,
.recently-viewed h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.special-offers,
.recently-viewed {
    height: 430px;
    margin-bottom: 100px;
}

.recently-viewed {
    margin-bottom: 0;
    padding-bottom: 80px;
}

.special-offers .item,
.recently-viewed .item {
    float: right;
    width: 255px;
    height: 363px;
    margin-left: 30px;
    margin-top: 38px;
    background: #FFFFFF;
}

.special-offers .item:nth-child(4),
.recently-viewed .item:nth-child(4) {
    margin-left: 0;
}

.special-offers .item img,
.recently-viewed .item img {
    display: block;
    margin: 25px auto 19px auto;
}

.special-offers .item-name,
.recently-viewed .item-name {
    width: 195px;
    height: 33px;
    margin: 0 auto;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

.special-offers .price,
.recently-viewed .price {
    margin-bottom: 16px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.special-offers button,
.recently-viewed button {
    display: block;
    width: 130px;
    height: 35px;
    margin: 0 auto;
    padding-left: 3px;
    background: #F13C6E;
    border-radius: 30px;
    color: #FFFFFF;
    letter-spacing: 0.05em;;
    cursor: pointer;
}

.bonuses,
.visit-us {
    width: 540px;
    height: 212px;
    background: #F13C6E;
    margin-bottom: 100px;
}

.visit-us { float: right; }

.visit-us img,
.bonuses img {
    float: right;
    padding-top: 56px;
    padding-right: 45px;
}

.bonuses img { padding-top: 52px; }

.visit-us h3,
.bonuses h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding-left: 40px;
    padding-top: 35px;
}

.visit-us p,
.bonuses p {
    width: 122px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 19px;
    padding-left: 40px;
}

.bonuses p { width: 129px; }

.visit-us button,
.bonuses input {
    box-sizing: border-box;
    width: 170px;
    height: 35px;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    margin-top: 26px;
    margin-left: 40px;
    cursor: pointer;
}

.bonuses input {
    width: 225px;
    background: #FFFFFF;
    color: #C4C4C4;
    padding-left: 22px;
    cursor: inherit;
}

.impuls {
    height: 356px;
    margin-bottom: 80px;
}

.impul {
    float: left;
    width: 275px;
    height: 117px;
    background: #FFFFFF;
}

.impuls img {
    display: block;
    margin: 35px 60px;
}

.footer { height: 372px; }

.footer-line { border-bottom: 1px solid #EFEFEF; }

.footer-category {
    float: left;
    margin-top: 61px;
    margin-right: 30px;
}

.footer-category:nth-child(4) { margin-right: 0; }

.footer-category span {
    display: block;
    width: 99px;
    height: 40px;
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.footer-category li {
    font-size: 12px;
    line-height: 28px;
    color: #828282;
}

.footer-category .title {
    width: 255px;
    margin-bottom: 26px;
    border-bottom: 1px solid #EFEFEF;
}

.youtube,
.facebook,
.instagram {
    float: left;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    margin-top: 37px;
    margin-right: 20px;
    border: 2px solid #F13C6E;
    border-radius: 45px;
}

.youtube img,
.facebook img,
.instagram img {
    display: block;
    margin: 0 auto;
    padding-top: 13px;
}

.facebook img {
    padding-top: 11px;
    padding-right: 2px;
}

.footer-contact {
    float: right;
    margin-top: 40px;
}

.footer-contact a {
    margin-right: 37px;
    font-size: 16px;
    color: #000000;
}

.social-block { height: 120px; }

.copyright {
    height: 60px;
    background: #EFEFEF;
}

.copyright p {
    float: left;
    padding-top: 24px;
    font-size: 12px;
    color: #828282;
}

.copyright p:nth-child(2) { float: right; }